/*
  Pragmatic JavaScript
  Chapter 3
  Programming Assignment

  Author: Marshall Huckins
  Date: 12/7/24
  Filename: styles.css
*/

/* Add your CSS styles here */

.chef-container {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.error {
  color: red;
  font-weight: bold;
}